In [1]:
import numpy as np
import pandas as pd

**Importing the dataset**

In [2]:
df = pd.read_csv('Position_Salaries.csv')
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

**Separating Independent and Dependent Variable**

In [8]:
x = df[['Level']]
y = df['Salary']

In [10]:
x.shape

(10, 1)

**Training the DCR model on the whole dataset**

In [9]:
from sklearn.tree import DecisionTreeRegressor
dcr = DecisionTreeRegressor()
dcr.fit(x,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

**Prediction**

In [12]:
dcr.predict([[6.5]])

array([150000.])